div.article_content {
    max-width: 100%;
}

#reader_pane {
    position: absolute;
    right: 0;
}

/* Don't show InoReader logo */
div#subscriptions_nav>div>a {
    display: none;
}

/* Менять цвет «основного» шрифта с #2E415C на #000 */
.article_full_contents {
    color: #000 !important;
}

/* Уменьшить отступ слева от текста (44px -> 20px) */
.article_card {
    padding-left: 20px !important;
}
