/* Скрывать полоску livejournal magazine внизу страницы */
.discoverytimes-noiframe {
    display: none;
}

/* dr-japh.livejournal.com — скрывать баннер в верхней части страницы */
.common-banner {
    display: none;
}

/* dr-japh.livejournal.com — скрывать Яндекс.директ внизу страницы */
div.ya-context {
    display: none;
}
