/* Скрывать полоску livejournal magazine внизу страницы */
.b-ljtimes-wrapper.b-ljtimes-wrapper_v2 {
    display: none;
}

/* dr-japh.livejournal.com — скрывать баннер в верхней части страницы */
.common-banner {
    display: none;
}

/* dr-japh.livejournal.com — скрывать Яндекс.директ внизу страницы */
div.ya-context {
    display: none;
}
