/* Set black color for main text */
div.entry-content.autoclear {
    color: #000;
}

/* Increase main block width */
#smartreader-main {
    margin-right: 0;
    padding-right: 0 !important;
}

/* Remove unnecessary border for comfortable scrolling */
#smartreader-feeds-container  #smartreader-feeds-main {
    border: 0;
}

/* Don't show footer */
#sub-container #footer {
    display: none;
}