.banner-add,
.head-banner,
.seo-txt.big,
.foot-bar,
#eXTReMe-Free-rusrek,
.addthis-smartlayers.addthis-smartlayers-desktop,
.img-box-banner-little {
    display: none !important;
}

.x-sdano,
.x-inappropriate {
    /* part of room, only woman, snimu vmesto sdam, Jamaica, Manhattan, Bronx, Staten Island */
    display: none !important;
}

/* right-hand area annoying banners */
#bx_2855226822_7508161,
#bx_2855226822_456065,
#bx_2855226822_456066 {
    display: none;
}
