#differences-prevlink, #differences-nextlink {
    background: rgb(248, 169, 151);
    padding: 3px;
}

.interlanguage-link.interwiki-ru, .interlanguage-link.interwiki-en, .interlanguage-link.interwiki-eo {
    background: rgb(248, 169, 151);
}
