.red {
    color: red;
}

.entry .entry-body, .entry h2.entry-title {
    max-width: 100%;
}

#ljtime {
    display: none;
}

/* Gmail: hide top ad */
.mq {
    visibility: hidden;
}

/* NetVibes: set black color for main text */
div.entry-content.autoclear {
    color: #000;
}

/* NetVibes: increase main block width */
#smartreader-main {
    margin-right: 0;
    padding-right: 0 !important;
}

/* NetVibes: remove unnecessary border for comfortable scrolling */
#smartreader-feeds-container  #smartreader-feeds-main {
    border: 0;
}
