.red {
    color: red;
}

.entry .entry-body, .entry h2.entry-title {
    max-width: 100%;
}

#ljtime {
    display: none;
}

/* Gmail: hide top ad */
.mq {
    visibility: hidden;
}

/* NetVibes: set black color for main text */
div.entry-content.autoclear {
    color: #000;
}